@font-face {
    font-family: 'Roobert-Regular';
    src: url('/static/fonts/Roobert-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roobert-Bold';
    src: url('/static/fonts/Roobert-Bold.otf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 35px;
    height: fit-content;
    font-family: 'Roobert-Regular';
    color: #372F35;
}

.icon {
    height: 80px;
    width: 80px;
}

#nav-option-container {
    display: flex;
    flex-direction: row;
    margin-left: 65%;
    margin-top: 19.5px;
    column-gap: 60px;
    color: #372F35;
}

.unset-a, .blog-unset-a, .about-unset-a {
    all: unset;
    cursor: pointer;
}

.unset-a:hover {
    color: #FFE450;
}

.blog-unset-a:hover {
    color: #F9724D;
}

.about-unset-a:hover {
    color: white;
}

.option-text, .blog-option-text, .about-option-text {
    font-family: 'Roobert-Bold';
    font-size: 18px;
}

.option-text.active {
    color: #FFE450;
}

.about-option-text.active {
    color: white;
}

.blog-option-text.active {
    color: #F9724D;
}

.option-text:hover {
    color: #FFE450;
    cursor: pointer;
}

.blog-option-text:hover {
    color: #F9724D;
    cursor: pointer;
}

.about-option-text:hover {
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    #nav-option-container {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 900px){
    #nav-option-container {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 750px){
    #nav-option-container {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 700px){
    .icon {
        margin-left: -30px;
    }

    #nav-option-container {
        margin-left: 20%;
        column-gap: 35px;
    }
}

@media only screen and (max-width: 600px){
    .icon {
        margin-left: -50px;
    }

    #nav-option-container {
        margin-left: 20%;
        column-gap: 35px;
    }
}

@media only screen and (max-width: 450px){
    .icon {
        margin-left: -75px;
    }

    #nav-option-container {
        margin-left: 15%;
        column-gap: 35px;
    }
}

@media only screen and (max-width: 375px){
    .icon {
        margin-left: -80px;
    }

    #nav-option-container {
        margin-left: 10%;
        column-gap: 35px;
    }
}