body {
    background-color: rgb(227, 227, 227);
    align-items: center;
    justify-content: center;

}

#title {
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    size: 30px;
    color: rgb(51, 39, 60);
}

#pictures {
    width: 30%;
    height: 30%;
}

#canvas {
    position: absolute;
    left: 20%;
    top: 20%;

}

#video {
    position: absolute;
    left: 20%;
    top: 20%;

}


.button { 
    
}