body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(227, 227, 227);
    font-family: "interstate", sans-serif;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3.5%;
    align-items: center;
}

.log-out-button {
    color: rgb(51, 39, 60);
    background-color: rgb(188, 180, 247);
    width: 192.5px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 900;
    margin-left: 52vw;
}

.log-out-button:hover {
    transition: all .5s ease-in-out;
    opacity: 0.75;
    cursor: pointer;
}

#logo-container {
    margin-left: 10%;
}

.back-button {
    color: rgb(51, 39, 60);
    background-color: rgb(188, 180, 247);
    width: 192.5px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 900;
    margin-left: 6vw;
}

.back-button:hover {
    transition: all .5s ease-in-out;
    opacity: 0.75;
    cursor: pointer;
}

#title {
    display: flex;
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    size: 30px;
    color: rgb(51, 39, 60);
    margin-left: 75%
}   

.opacity-hover:hover {
    transition: all .5s ease-in-out;
    opacity: 0.75;
    cursor: pointer;
}

.left-tab-container {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 50%;    
}


.leftbox {
    float: left;
    top: -30%;
    left: -30%;
    position: absolute;
    width: 10%;
    height: 110%;
}

.rightbox {
    display: none;
    display: block;
    transition: all .3s ease-in-out;

}

nav a {
    list-style: none;
    display: block;
    transition: all .3s ease-in-out;
}

nav a:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: yellow;
}

nav a:first-child {
    margin-top: 7px;
}
nav a.active {
    color: yellow;
}

.rightbox {
    width: 60%;
    margin-left: 27%; 
}

.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}

h1 {
    font-family: "interstate", sans-serif;
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 35px;
}

.tabShow {
    display: none;
}