<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump | Camera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='camera.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/clh7vah.css">
    </head>
    <body>
        <h1 id="title">Let's Fistbump!</h1>
        <h2 id="target">Your Match: {{ match_name }}</h2>
        <button class="button" id="captureButton" onclick="takePhoto()">Capture</button>
        <button class="button" id="saveButton" onclick="saveImage()">Share</button>
        <button class="button" id="discardButton" onclick="discardImage()">Discard</button>

        <video class="photo" id="video" width="640" height="480" autoplay></video>
        <canvas class="photo" id="canvas" width="640" height="480"></canvas>
        <h1 id="streak">Fistbump Streak: {{streak}} </h1>

        <script src="static/camera.js"></script>
    </body>
</html>