<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump | Camera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>CAMERA</h1>

        <video id="video" width="640" height="480" autoplay></video>
        <button id="captureButton" onclick="takePhoto()">Capture</button>
        <button id="saveButton" onclick="saveImage()">save</button>
        <canvas id="canvas" width="640" height="480"></canvas>
    
        <script src="static/camera.js"></script>

        <h1>STREAK: {{streak}}</h1>
    </body>
</html>