<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/clh7vah.css">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="nav-bar">
            <button onclick="window.location.href = '/camera'" class="fistbump-button opacity-hover">Take Fistbump</button>
            <div id="logo-container">
                <h1 id="title">FISTBUMP</h1>
            </div>
            <div onclick="window.location.href = '/profile'" id="profile-icon-container">
                <i class="fa-solid fa-user fa-xl"></i>
            </div>
            <div onclick="window.location.href = '/leaderboard'" id="streak-container">
                <img src="{{ url_for('static', filename='media/fire.png') }}" class="streak-fire">
                <p class="streak-number">{{ streak }}</p>
            </div>
        </div>
        <div id="tile-container">
            {% for path_dict in paths %}
                <img src="{{ path_dict.img_path }}" data-creator="{{ path_dict.creator_name }}" data-match="{{ path_dict.match_name }}"
                data-creator-id="{{ path_dict.creator_user_id }}" data-match-id="{{ path_dict.match_user_id }}" 
                data-date-created="{{ path_dict.formatted_date_published }}" 
                class="gallery-image">
            {% endfor %}
        </div>
        <script src="{{ url_for('static', filename='view_post.js') }}"></script>
    </body>
</html>