<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump | Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id ="nav-bar">
            <button onclick="window.location.href = '/'" class="back-button opacity-hover:hover">Back</button>
            <button onclick="window.location.href = '/logout'" class="log-out-button opacity-hover:hover">Log Out</button>
        </div>

        <div class="left-tab-container">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)" class="tab active" class="gallery-image">
                        <i class="fa fa-user"> </i>
                        <div class="setting-icon-overlay">
                            <p class="setting-icon-description"> User </p>
                        </div>
                    
                    </a>
                    <a onclick="tabs(1)" class="tab">
                        <i class="fa fa-bell"> </i>
                        <p> n </p>
                    </a>
                    <a onclick="tabs(2)" class="tab">
                        <i class="fa fa-vcard"> </i>
                        <p> i </p>
                    </a>
                    <a onclick="tabs(3)" class="tab">
                        <i class="fa fa-sun-o"> </i>
                        <p> s </p>
                    </a>
                    <a onclick="tabs(4)" class="tab">
                        <i class="fa fa-info-circle"> </i>
                        <p> a </p>

                    </a>
                </nav>
            </div>
            <div class="rightbox">
                <div class="profile tabShow">
                    <div id="tile-container">
                        {% for path_dict in paths %}
                            <img src="{{ path_dict.img_path }}" data-creator="{{ path_dict.creator_name }}" data-match="{{ path_dict.match_name }}"
                            data-creator-id="{{ path_dict.creator_user_id }}" data-match-id="{{ path_dict.match_user_id }}" 
                            data-date-created="{{ path_dict.formatted_date_published }}" 
                            class="gallery-image">
                        {% endfor %}
                    </div>
                </div>
                <div class="notifications tabShow">
                    <h1> Test tab 2</h1>
                </div>
                <div class="settings tabShow">
                    <h1> Test tab 3</h1>
                </div>
                <div class="info tabShow">
                    <h1> Test tab 4</h1>
                </div>
                <div class="info tabShow">
                    <h1> Test tab 5</h1>
                </div>
        </div>

       

        <script>
            const tab8tn =
                document.querySelectorAll(".tab");
            const tab =
                document.querySelectorAll(".tabShow");

            function tabs(panelIndex) {
                tab.forEach(function(node) {
                    node.style.display = "none";
                });
                tab[panelIndex].style.display =
                "block";
            }
            tabs(0);
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script>
            $(".tab").click(function() {
                $(this).addClass("active").siblings().removeClass("active");
            })

        </script>

        <script src="{{ url_for('static', filename='view_post.js') }}"></script>
    </body>
</html>