<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump | Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/clh7vah.css">
    </head>
    <body style="background-image: url('{{ url_for('static', filename='media/pastel_gradient.png') }}'); background-size: cover;">
        <div id="center-container">
            <div id="login-bounding-box">
                <div id="left">
                    <div id="logo-container" onclick="window.location.href='/'">
                        <p class="logo-type">Firstbump</p>
                    </div>
                    <div id="welcome-container">
                        <p class="large-text">Welcome In!</p>
                        <p class="caption-text">Enter some basic information about yourself to get started!</p>
                    </div>
                    <div id="mode-toggle-container">
                        <p class="caption-text">
                            Already have an account? <a href="/auth/login" class="toggle-link">Login</a>
                        </p>
                    </div>
                </div>
                <div id="right">
                    <p class="large-text sign-in-text">Sign Up</p>
                    <form id="auth-form" action="/auth/signup" method="POST">
                        <input class="input" type="text" name="name" required autofocus placeholder="Full name" autocomplete="off">
                        <input class="input" type="text" name="username" required autofocus placeholder="Username" autocomplete="off">
                        <input class="input" type="password" name="password" id="password" required placeholder="Password" autocomplete="off">
                        <input class="input" type="text" name="major" placeholder="Major (not required)" autocomplete="off">
                        <input class="input" type="text" name="year" placeholder="Year of graduation (not required)" autocomplete="off">
                        <input class="submit" type="submit">
                    </form>
                    {% if bad_attempt %}
                    <div id="incorrect-attempt">
                        <div id="red-stripe"></div>
                        <div id="incorrect-attempt-message">
                            <p>Username already taken</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>      
    </body>
</html>