<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/clh7vah.css">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="nav-bar">
            <button onclick="window.location.href = '/camera'" class="fistbump-button opacity-hover">Take Fistbump</button>
            <div id="logo-container">
                <a href="/" class="unset-a">
                    <h1 id="title" class="opacity-hover">FISTBUMP</h1>
                </a>
            </div>
        </div>
        <div id="content-container">
            <div id="profile-section">
                <div id="profile-info-container">
                    <div id="profile-picture-mask">
                        <img src="{{ url_for('static', filename='media/blank_pfp.jpeg') }}" class="profile-picture">
                    </div>
                    <div id="stats-wrapper">
                        <p class="name-text">{{ name }}</p>
                        <ul id="stats">
                            <li><span class="important-number">{{ paths|length }}</span> posts</li>
                            <li class="clickable-item" onclick="openStatModal('followers')">
                                <span class="important-number">{{ followers|length }}</span> followers
                            </li>
                            <li class="clickable-item" onclick="openStatModal('following')">
                                <span class="important-number">{{ following|length }}</span> following
                            </li>
                        </ul>
                        {% if user_id != viewer_user_id %}
                        <div id="actions-wrapper">
                            {% if is_following %}
                            <button id="follow-button" class="unfollow-button" onclick="unfollowUser('{{ viewer_user_id }}', '{{ user_id }}')">Unfollow</button>
                            {% else %}
                            <button id="follow-button" onclick="followUser('{{ viewer_user_id }}', '{{ user_id }}')">Follow</button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tile-container">
                {% for path_dict in paths %}
                    <img src="{{ path_dict.img_path }}" data-creator="{{ path_dict.creator_name }}" 
                    data-match="{{ path_dict.match_name }}" data-creator-id="{{ path_dict.creator_user_id }}" 
                    data-match-id="{{ path_dict.match_user_id }}" data-date-created="{{ path_dict.formatted_date_published }}" 
                    class="gallery-image">
                {% endfor %}
            </div>
        </div>
        <script>
            var viewerUserID = {{ viewer_user_id }};
            var viewerFollowers = {{ viewer_followers|tojson }};
            var followers = {{ followers|tojson }};
            var following = {{ following|tojson }};
        </script>
        <script src="{{ url_for('static', filename='view_post.js') }}"></script>
        <script src="{{ url_for('static', filename='user.js') }}"></script>
    </body>
</html>