<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>Fistbump | Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/waitlist.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}">
    </head>
    <body>
        <div id="grayed-out-background">
            <div id="loading-spinner" style="display: none;">
                <img class="spinner" src="{{ url_for('static', filename='media/loading_spinner.gif') }}">
            </div>
            <div id="waitlist-modal">
                <div id="modal-content-container">
                    <div id="modal-text-container">
                        <p class="modal-title-text">Join the Waitlist</p>
                        <p class="modal-subtext">
                            Fistbump is currently in early stage development and are working hard to build
                            a completely unique social experience. Sign up for the waitlist to get access
                            as soon as space opens up.
                        </p>
                    </div>
                    <form id="modal-input-container" onsubmit="event.preventDefault(); return sendVerification()">
                        <input placeholder="Name" id="name" class="modal-input" autocomplete="off" spellcheck="false" title="" required></input>
                        <input placeholder="Email" id="email" class="modal-input" autocomplete="off" spellcheck="false" type="email" title="" required></input>
                        <div id="modal-submit-container">
                            <input type="submit" value="Next" class="modal-submit disabled"></input>
                        </div>
                        <div onclick='closeWaitlist()'>
                            <p class='modal-cancel'>Cancel</p>
                        </div>
                    </form>
                    <form id="modal-verification-container" onsubmit="event.preventDefault(); return createWaitlistEntry()" style="display: none">
                        <input placeholder="Verification Code" id="code" class="modal-input" autocomplete="off" spellcheck="false" title="" required></input>
                        <div id="modal-submit-container">
                            <input type="submit" value="Submit" class="modal-submit disabled"></input>
                        </div>
                        <div onclick='closeWaitlist()'>
                            <p class='modal-cancel'>Cancel</p>
                        </div>
                    </form>
                    <div id="confirmation-container" style="display: none;">
                        <div id="confirmation-text-container">
                            <svg viewBox="0 0 448 512" height="20" width="20" tabindex="-1">
                                <path fill="green" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path>
                            </svg>
                            <p>Your information has been saved! We'll shoot you an invite as soon as possible!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav-bar">
            <a href='/' class="unset-a">
                <img src="{{ url_for('static', filename='media/fistbump_icon.png') }}" class="icon">
            </a>
            <div id="nav-option-container">
                <a href="/blog" class="blog-unset-a">
                    <p class="blog-option-text active">blog</p>
                </a>
                <a href="/about" class="blog-unset-a">
                    <p class="blog-option-text">about</p>
                </a>
                <p class="blog-option-text" onclick='openWaitlist()'>waitlist</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/waitlist.js') }}"></script>
    </body>
</html>