<html>
<head>
    <title>Verification Email</title>
</head>
<body>
    <table width="450" style="border-collapse: collapse; border-radius: 5px; overflow: hidden; font-family: 'sohne-var', 'Helvetica Neue', 'Arial', sans-serif;">
        <tr>
            <td style="background-color: #FFE450; padding: 20px 25px; font-size: 25px; font-weight: 500;">
                Fistbump Verification Code
            </td>
        </tr>
        <tr>
            <td style="background-color: #FAFAFA; padding: 15px 25px 25px 25px; font-size: 18px; font-weight: 400;">
                <p style="color: #372F35;;">Hi {{name}},</p>
                <p style="color: #372F35;">Thanks for joining the Fistbump waitlist. Enter this code to verify your email:</p>
                <p style="text-align: center; margin-top: 50px; font-size: 20px; font-weight: 600; color: #372F35;">
                    <b>{{verification_code}}</b>
                </p>
                <p style="margin-top: 50px; color: #372F35;">Best Regards,</p>
                <p style="margin-top: 0px; color: #372F35;">The Fistbump Team</p>
            </td>
        </tr>
    </table>
</body>
</html>