<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="logo-container">
            <div class="logo-wrapper">
                <p class="logo-text">Fistbump</p>
                <p class='caption-text'>Connect in the real world.</p>
            </div>
        </div>
    </body>
</html>