<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fistbump</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}">
    </head>
    <body>
        <div id="grayed-out-background">
            <div id="waitlist-modal">
                <div id="modal-content-container">
                    <div id="modal-text-container">
                        <p class="modal-title-text">Join the Waitlist</p>
                        <p class="modal-subtext">
                            Fistbump is currently in early stage development and are working hard to build
                            a completely unique social experience. If you join the waitlist, we'll be sure
                            to shoot you an invite as soon as possible!
                        </p>
                    </div>
                    <form id="modal-input-container">
                        <input placeholder="Name" name="name" id="name" class="modal-input" autocomplete="off" spellcheck="false"></input>
                        <input placeholder="Email" name="email" id="email" class="modal-input" autocomplete="off" spellcheck="false"></input>
                        <div id="modal-submit-container">
                            <input type="submit" value="Submit" class="modal-submit disabled"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="nav-bar">
            <img src="{{ url_for('static', filename='media/fistbump_icon.png') }}" class="icon">
            <div id="nav-option-container">
                <a href="/blog" class="unset-a">
                    <p class="option-text">blog</p>
                </a>
                <a href="/about" class="unset-a">
                    <p class="option-text">about</p>
                </a>
                <p class="option-text" onclick='openWaitlist()'>waitlist</p>
            </div>
        </div>
        <div class="logo-container">
            <div class="logo-wrapper">
                <p class="logo-text">Fistbump</p>
                <p class='caption-text'>Connect in the real world.</p>
                <div class="center-hero">
                    <div class="button-container">
                        <button class="hero-button hero-waitlist" onclick='openWaitlist()'>waitlist</button>
                        <button class="hero-button hero-blog">blog</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>