@font-face {
    font-family: 'Roobert-Regular';
    src: url('/static/fonts/Roobert-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roobert-Bold';
    src: url('/static/fonts/Roobert-Bold.otf') format('truetype');
}

body {
    background-color: #6FB4EB;
    font-family: 'Roobert-Regular';
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 35px;
    height: fit-content;
}

.icon {
    height: 80px;
    width: 80px;
    transition: all 0.35s ease-in-out;
}

.icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

#nav-option-container {
    display: flex;
    flex-direction: row;
    margin-left: 65%;
    margin-top: 24px;
    column-gap: 60px;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    color: #FFE450;
    cursor: pointer;
}

.option-text {
    font-family: 'Roobert-Bold';
    font-size: 18px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo-text {
    font-size: 95px;
    color: #372F35;
}

.caption-text {
    margin-top: -77px;
    font-size: 21px;
    color: #372F35;
}

.center-hero {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.button-container {
    margin-top: 20px;
    column-gap: 20px;
}

.hero-button {
    font-family: 'Roobert-Bold';
    border: none;
    font-size: 16px;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    transition: all 0.35s ease-in-out;
    color: #372F35;
}

.hero-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hero-waitlist {
    background-color: #FFE450;
}

.hero-blog {
    background-color: #F9724D;
}

@media only screen and (max-width: 991px){
    #nav-option-container {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 800px){
    #nav-option-container {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 700px){
    #nav-option-container {
        margin-left: 30%;
    }
}